@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Quang Vu 2 - Deploying Web apps with ASP.NET Core at pluralsight.com!.</p>
</div>
